<!-- <div class="row footer">
	<div class="containerWidth">
		<div class="footer-item col-md-4 col-md-push-8 col-sm-12">
			<div class="downloadApp">{{::vm.STRINGS.DOWNLOAD}} {{::vm.brandName}} {{::vm.STRINGS.APP}}</div>
			<a class="appBadge" href=""><img src="http://assets.limetray.com/assets/order-online/images/google-play-badge.png" alt=""></a>
			<a class="appBadge apple" href=""><img src="http://assets.limetray.com/assets/order-online/images/app-store-badge.png" alt=""></a>
		</div>

		<div class="footer-item col-md-4 col-sm-12">
			<div class="followUs">{{::vm.STRINGS.FOLLOW_US}}</div>
			<a class="socialIcon" ng-if="vm.socialLinks.facebook" target="_blank" ng-href="{{::vm.socialLinks.facebook}}"><i class="fa fa-facebook"></i></a>
			<a class="socialIcon" ng-if="vm.socialLinks.twitter" target="_blank" ng-href="{{::vm.socialLinks.twitter}}"><i class="fa fa-twitter"></i></a>
			<a class="socialIcon" ng-if="vm.socialLinks.googleplus" target="_blank" ng-href="{{::vm.socialLinks.googleplus}}"><i class="fa fa-google-plus"></i></a>
			<a class="socialIcon" ng-if="vm.socialLinks.instagram" target="_blank" ng-href="http://instagram.com/{{::vm.socialLinks.instagram}}"><i class="fa fa-instagram"></i></a>
		</div>
		<div class="footer-item  col-md-4 col-md-pull-8 col-sm-12">
			<div class="brandName">{{::vm.brandName}}</div>
			<div class="limetray">{{::vm.STRINGS.PB_LIMETRAY}}</div>
		</div>

	</div>

</div>
 -->